<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyLight.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <EasyLight.MySettings>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layer" serializeAs="String">
                <value>4 x 2</value>
            </setting>
            <setting name="Proportional" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Method" serializeAs="String">
                <value>Average</value>
            </setting>
            <setting name="Hscan" serializeAs="String">
                <value>30 %</value>
            </setting>
            <setting name="Vscan" serializeAs="String">
                <value>30 %</value>
            </setting>
            <setting name="ArduinoSerialPort" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="ArduinoBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SkipDarkPixel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArduinoMaxRetries" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StaticColorTop" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="StaticColorBottom" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="StaticColorLeft" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
            <setting name="StaticColorRight" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
        </EasyLight.MySettings>
    </userSettings>
</configuration>
